{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "release.zip",
                        "name": "release-${nextRelease.version}.zip"
                    }
                ]
            }
        ],
        [
            "@semantic-release/npm",
            {
                "publishConfig": {
                    "registry": "https://npm.pkg.github.com",
                    "tag": "latest"
                }
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ],
                "message": "chore(release): set `package.json` to ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}